<a href="https://colab.research.google.com/github/SarahCalazans/ENG_20242/blob/main/Atividade1_atv_conjunto_set_24102024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. Crie uma lista contendo cinco números inteiros de sua escolha. Em seguida, percorra essa lista e imprima o valor de cada elemento multiplicado por 2. O resultado deve mostrar o novo valor de cada elemento, um por vez.

numeros = [10, 20, 30, 40, 50]
for numero in numeros:
    resultado = numero * 2
    print(resultado)

20
40
60
80
100

In [ ]:
#2. Dada a lista ["maçã", "banana", "laranja", "uva"], remova o item "banana" da lista e adicione a fruta "melancia" no lugar. Depois, mostre a nova lista atualizada com as alterações feitas.

Lista = ["maçã", "banana", "laranja", "uva"]
Lista.remove("banana")
Lista.insert(1, "melancia")
print(Lista)

['maçã', 'melancia', 'laranja', 'uva']

In [ ]:
#3. Escreva um programa que receba uma lista de números inteiros e exiba qual é o maior número e qual é o menor número presente na lista. Certifique-se de mostrar ambos os valores ao final.

lista = [10, 20, 30, 40, 50]
maior_numero = max(lista)
menor_numero = min(lista)
print("O maior número é:", maior_numero)
print("O menor número é:", menor_numero)

O maior número é: 50
O menor número é: 10

In [ ]:
#4. Crie uma função que receba uma lista contendo várias palavras (strings). A função deve devolver uma nova lista que contenha a quantidade de letras de cada palavra da lista original. Exiba essa nova lista com o número de letras correspondente a cada palavra.

lista = ["maçã", "banana", "laranja", "uva"]
nova_lista = [len(palavra) for palavra in lista]
print(nova_lista)

[4, 6, 7, 3]

In [ ]:
#5. Dada uma lista de números inteiros que você vai definir, ordene essa lista em ordem crescente e depois exiba o resultado da lista ordenada]

lista = [10, 20, 30, 40, 50]
lista.sort()
print(lista)

[10, 20, 30, 40, 50]

In [ ]:
#6. Crie uma tupla que contenha os números de 1 a 5. Tente alterar o valor do segundo elemento dessa tupla e observe o que acontece. No final, explique por que você conseguiu ou não modificar o valor.

tupla = (1, 2, 3, 4, 5)
tupla[1] = 10
print(tupla) #não é possível alterar uma tupla, pois elas são imutáveis

TypeError: 'tuple' object does not support item assignment

In [ ]:
#7. Escreva um programa que receba uma tupla contendo diversos números inteiros. O programa deve calcular e exibir a soma de todos os números presentes na tupla.

tupla = (10, 20, 30, 40, 50)
soma = sum(tupla)
print(soma)

150

In [ ]:
#8. Dada uma tupla que contém cinco números, crie uma função que retorne o primeiro e o último número dessa tupla. O programa deve imprimir ambos os valores corretamente.

tupla = (10, 20, 30, 40, 50)
primeiro_numero = tupla[0]
ultimo_numero = tupla[-1]
print("O primeiro número é:", primeiro_numero)
print("O último número é:", ultimo_numero)

O primeiro número é: 10
O último número é: 50

In [ ]:
#9. Converta a lista ["a", "b", "c", "d"] em uma tupla e, em seguida, exiba o tipo do novo objeto que foi criado. O programa deve deixar claro que o tipo mudou de lista para tupla.

lista = ["a", "b", "c", "d"]
tupla = tuple(lista)
print(tupla)

('a', 'b', 'c', 'd')

In [ ]:
#10. Crie uma tupla com três números inteiros e uma string. Depois, verifique se o número 3 está presente nessa tupla e mostre uma mensagem dizendo se o número foi encontrado ou não.

tupla = (10, 20, 30, "30")
if 3 in tupla:
    print("O número 3 foi encontrado na tupla.")
else:
    print("O número 3 não foi encontrado na tupla.")

O número 3 não foi encontrado na tupla.

In [ ]:
#11. Crie dois sets: set1 = {1, 2, 3, 4} e set2 = {3, 4, 5, 6}. Exiba a união dos dois sets (todos os elementos sem repetição), a interseção (elementos que aparecem nos dois sets) e a diferença (elementos presentes no primeiro set, mas não no segundo). Mostre os resultados de cada operação.

set1  = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
uniao = set1.union(set2)
intersecao = set1.intersection(set2)
diferenca = set1.difference(set2)
print("União dos sets:", uniao)
print("Interseção dos sets:", intersecao)
print("Diferença entre os sets:", diferenca)

União dos sets: {1, 2, 3, 4, 5, 6}
Interseção dos sets: {3, 4}
Diferença entre os sets: {1, 2}

In [120]:
#12. Dada a lista [1, 2, 2, 3, 4, 4, 5], remova os elementos duplicados transformando a lista em um set. Ao final, exiba o set resultante, que deve conter apenas valores únicos.

lista = [1, 2, 2, 3, 4, 4, 5]
sem_duplicatas = set(lista)
print(sem_duplicatas)

TypeError: 'set' object is not callable

In [ ]:
#13. Crie um set contendo os valores {5, 10, 15, 20}. Adicione o número 25 a esse set e depois remova o valor 15. Mostre o set após cada alteração.

set1 = {5, 10, 15, 20}
set1.add(25)
set1.remove(15)
print(set1)

{5, 10, 20, 25}

In [ ]:
#14. Verifique se o número 7 está presente no set {1, 2, 3, 4, 5}. O programa deve exibir uma mensagem informando se o número foi encontrado ou não no set.

set1 = {1, 2, 3, 4, 5}
if 7 in set1:
    print("O número 7 está presente no set.")
else:
    print("O número 7 não está presente no set.")

O número 7 não está presente no set.

In [117]:
#15. Crie um set vazio e adicione vários valores a ele usando um laço de repetição (por exemplo, um for ou while). No final, mostre todos os valores armazenados no set.
import random
setin = set()
random.seed(42)
for i in range(10):
    numero = (random.random()*100)// 1
    setin.add(int(numero))
    print(setin)

TypeError: 'set' object is not callable

In [ ]:
#16. Crie um dicionário com os pares chave-valor 'nome': 'Ana', 'idade': 22, 'curso': 'Engenharia'. Adicione uma nova chave 'universidade': 'USP' ao dicionário. Em seguida, exiba o dicionário completo com todas as informações.

dicionario = {'nome': 'Ana', 'idade': 22, 'curso': 'Engenharia'}
dicionario['universidade'] = 'USP'
print(dicionario)

{'nome': 'Ana', 'idade': 22, 'curso': 'Engenharia', 'universidade': 'USP'}

In [ ]:
#17. Escreva um programa que percorra um dicionário com várias chaves e valores. Para cada par, imprima a chave e o valor no formato: Chave: X, Valor: Y. O dicionário pode conter qualquer informação que você preferir.

dicionario = {'nome': 'Ana', 'idade': 22, 'curso': 'Engenharia'}
for chave, valor in dicionario.items():
    print(chave, valor)

nome Ana
idade 22
curso Engenharia

In [ ]:
#18. Crie um dicionário que relacione nomes de alunos às suas notas. Depois, crie uma função que calcule e exiba a média das notas desses alunos com base nas informações do dicionário.

alunos = {'Ana': [10,8,9], 'João': [6,8,4], 'Maria':[4,8,6]}
for i in alunos:
 print(i,sum(alunos[i])/len(alunos[i]))

Ana 9.0
João 6.0
Maria 6.0

In [ ]:
#19. Escreva um programa que permita ao usuário buscar o valor de uma chave específica em um dicionário. Caso a chave não exista, o programa deve exibir uma mensagem dizendo que a chave não foi encontrada. Teste o programa com diferentes chaves.

dicionario = {'nome': 'Ana', 'idade': 22, 'curso': 'Engenharia'}
chave = input("Digite a chave que deseja buscar: ")
if chave in dicionario:
    print(dicionario[chave])
else:
    print("A chave não foi encontrada no dicionário.")

Digite a chave que deseja buscar: nome
Ana

In [ ]:
#20. Dado um dicionário que contém produtos e seus respectivos preços, como {'pão': 2.50, 'leite': 3.00, 'café': 4.50}, permita que o usuário altere o preço de um dos produtos e exiba o dicionário atualizado com o novo valor.

dicionario = {'pão': 2.50, 'leite': 3.00, 'café': 4.50}
produto = input("Digite o nome do produto que deseja alterar o preço: ")
novo_preco = float(input("Digite o novo preço do produto: "))
dicionario[produto] = novo_preco
print(dicionario)

Digite o nome do produto que deseja alterar o preço: pão
Digite o novo preço do produto: 4
{'pão': 4.0, 'leite': 3.0, 'café': 4.5}