<a href="https://colab.research.google.com/github/SarahCalazans/ENG_20242/blob/main/Atividade1_atv_dicionario_tupla_10_10_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1 Crie uma tupla chamada cidades que contenha os nomes de cinco cidades. Imprima a terceira cidade.

cidades = ("São Paulo", "Rio de Janeiro", "Belo Horizonte", "Porto Alegre", "Curitiba")
print(cidades[2])

Belo Horizonte

In [2]:
#2 Crie uma tupla chamada numeros com os seguintes valores: (1, 2, 3, 1, 4, 1). Utilize o método count() para contar quantas vezes o número 1 aparece na tupla.

numeros = (1, 2, 3, 1, 4, 1)
print(numeros.count(1))

3

In [8]:
#3 Crie uma tupla chamada animais com os seguintes valores: ('cachorro', 'gato', 'pássaro'). Verifique se 'gato' está na tupla e imprima uma mensagem informando o resultado.

animais = ('cachorro', 'gato', 'pássaro')
if 'gato' in animais:
    print('gato está na tupla')
else:
    print('gato não está na tupla')

gato está na tupla

In [6]:
#4 Dada a tupla meses = ('janeiro', 'fevereiro', 'março', 'abril', 'maio'), encontre e imprima o índice do mês 'abril'.

meses = ('janeiro', 'fevereiro', 'março', 'abril', 'maio')
print(meses.index('abril'))

3

In [7]:
#5 Crie uma tupla chamada coordenadas que armazene a latitude e longitude de um local (ex: (-23.5505, -46.6333)). Imprima a latitude e a longitude separadamente.

coordenadas = (-23.5505, -46.6333)
print(coordenadas[0])
print(coordenadas[1])

-23.5505
-46.6333

In [9]:
#6 Crie um dicionário chamado carro com as chaves marca, modelo e ano. Atribua valores de sua escolha e imprima o modelo do carro.

dados_do_carro = {
    'marca': 'toyota',
    'modelo': 'corolla cross',
    'ano': '2025'}
print(dados_do_carro['modelo'])

corolla cross

In [12]:
#7 Use o dicionário carro que você criou no exercício anterior. Adicione uma nova chave chamada cor e atribua uma cor ao carro. Em seguida, imprima o dicionário completo.

dados_do_carro = {
    'marca': 'toyota',
    'modelo': 'corolla cross',
    'ano': '2025',
    'cor': 'preto'}
print(dados_do_carro)

{'marca': 'toyota', 'modelo': 'corolla cross', 'ano': '2025', 'cor': 'preto'}

In [13]:
#8 Dado o dicionário pessoa = {'nome': 'João', 'idade': 30, 'cidade': 'São Paulo'}, remova a chave idade e imprima o dicionário resultante.

pessoa = {'nome': 'João', 'idade': 30, 'cidade': 'São Paulo'}
pessoa.pop('idade')
print(pessoa)

{'nome': 'João', 'cidade': 'São Paulo'}

In [14]:
#9 Crie um dicionário chamado produto que contenha nome, preco e quantidade. Use um loop for para imprimir todos os pares chave/valor.

produto = {'nome': 'arroz', 'preco': 10.99, 'quantidade': 5}
for chave, valor in produto.items():
    print(chave, valor)

nome arroz
preco 10.99
quantidade 5

In [15]:
#10 Dado o dicionário estudante = {'nome': 'Maria', 'curso': 'Biologia', 'ano': 2}, verifique se a chave curso existe. Se existir, imprima "A estudante está no curso de Biologia."

estudante = {'nome': 'Maria', 'curso': 'Biologia', 'ano': 2}
if 'curso' in estudante:
    print("A estudante está no curso de Biologia.")
else:
    print("A estudante não está no curso de Biologia.")

A estudante está no curso de Biologia.